@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #f07807;
  --secondary-color: #f7e5d8;
  --default-shadow: 0 4px 8px #0008;
  --default-padding: 0 80px;
  --default-transition: 0.5s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

menu,
ol,
li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

header {
  position: fixed;
  height: 60px;
  width: 100vw;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--default-padding);
}

main {
  color: var(--secondary-color);
}

section {
  padding: var(--default-padding);
  height: 100vh;
}

footer {
  background-color: var(--primary-color);
  height: 526px;
}

header > menu {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

header > menu > li {
  padding: 4px 8px;
  transition: var(--default-transition);
}

header > menu > li:hover {
  background-color: var(--secondary-color);
  box-shadow: var(--default-shadow);
}

.login {
  height: 48px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  border: none;
  background-color: var(--secondary-color);
  transition: var(--default-transition);
}

.login:hover {
  box-shadow: var(--default-shadow);
}

.home {
  display: grid;
  grid-template-rows: 3fr 1fr;
  background-color: var(--secondary-color);
  background-image: url(/assets/img/background.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: start;
}

.container-slogan {
  margin-top: 7vw;
  display: flex;
  gap: 20vw;
  justify-content: flex-start;
  align-items: center;
}

.container-slogan img {
  width: clamp(10vw, 23vw, 30vw);
}

.slogan {
  max-width: 360px;
  font-style: italic;
  font-weight: 400;
  font-size: clamp(1rem, 3vw, 4rem);
  color: black;
}

.cardapio {
  background-color: plum;
}

.servicos {
  background-color: lightblue;
}

span {
  color: var(--primary-color);
  font-weight: 600;
}

.container-pizzas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pizzas {
  position: relative;
  max-width: 15vw;
}

.pizzas:hover .add-pizza,
.pizzas:hover .container-info {
  opacity: 1;
}

.add-pizza {
  opacity: 0;
  position: absolute;
  right: -16px;
  top: -16px;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 12px;
  border: 4px solid white;
  color: white;
  font-size: 2rem;
  place-content: center;
  transition: var(--default-transition);
  display: grid;
}

.container-info {
  opacity: 0;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 99%;
  bottom: 0;
  border-radius: 0 0 12px 12px;
}
