@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #f07807;
  --secondary-color: #f7e5d8;
  --default-shadow: 0 4px 8px #0008;
  --default-padding: 0 80px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

menu,
ol,
li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

header {
  position: fixed;
  height: 60px;
  width: 100vw;
  top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--default-padding);
}

main {
}

section {
  padding: var(--default-padding);
  height: 100vh;
}

footer {
  background-color: var(--primary-color);
  height: 526px;
}

header > menu {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

header > menu > li {
  padding: 4px 8px;
  transition: 0.5s;
}

header > menu > li:hover {
  background-color: var(--secondary-color);
  box-shadow: var(--default-shadow);
}

.login {
  height: 48px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  border: none;
  background-color: var(--secondary-color);
  box-shadow: var(--default-shadow);
}

.home {
  background-color: var(--secondary-color);
  background-image: url(/assets/img/background.svg);
  background-position: top right;
  background-repeat: no-repeat;
}

.cardapio {
  background-color: plum;
}

.servicos {
  background-color: lightblue;
}
